name: my_tasks
description: Aplicativo de controle de tarefas com múltiplas formas de persistência
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  provider: ^6.1.1

  shared_preferences: ^2.2.2
  path_provider: ^2.1.1
  sqflite: ^2.3.0

  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
